h1, h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
}

strong {
    font-weight: bolder;
}

.emphasis {
    font-size: 1.25rem;
}

.me {
    text-align: center;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content {
  max-width: 680px;
  margin: auto;
  font-family: 'Roboto, Roboto Bold';
  font-size: 1rem;
}

.address {
    text-align: center;
    color: rgb(62, 150, 165);
    font-weight: bolder;
    font-size: 1.15rem;
}
